{% extends "base.html" %}
{% block style %}
<style>
    .login-form-container {
        width: 300px;
        margin: auto;
    }
    .registration-form-container {
        width: 400px;
        margin: auto;
    }

    .auth-box{
        border: 3px solid lightgrey;
        border-radius: 10px;
        padding-top: 1.5rem;
        margin: auto;
        width: 600px;
    }
</style>

{% endblock %}
{% block content %}
    <div class="mt-3">
        <div class="auth-box text-center">
        {% block auth %}
        {% endblock %}
        </div>
    </div>
{% endblock %}
